@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
    --primary-color: #3d6528;
    --secondary-color: #ebcb6a;
    --accent1-color: #7f2013;
    --accent2-color: white;

    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif;

    --headline-color-on-white: #3d6528;
    --headline-color-on-color: white;
    --paragraph-color-on-white: #3d6528;
    --paragraph-color-on-color: white;
    --paragraph-background-color: #3d6528;
    --nav-link-color: white;
    --nav-hover-link-color: #3d6528;
    --nav-hover-background-color: white;
    --work-experience-background: #f5e6d3; /* Slightly tanner color */
}

body {
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
    padding: 10px 20px;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--heading-font);
    grid-area: logo;
}

header .logo img {
    max-width: 150px;
    height: auto;
}

header .navbar {
    grid-area: nav;
}

header .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header .navbar ul li {
    margin: 0 10px;
}

header .navbar ul li a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px;
}

header .navbar ul li a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main {
    padding: 20px;
    display: grid;
    grid-template-areas:
        "logo nav"
        "title title"
        "degree courses"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
}

main h1, main h2 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

section {
    margin-bottom: 20px;
}

article {
    margin-bottom: 20px;
    background-color: var(--work-experience-background);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article h3 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

article p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
}

#education {
    grid-area: title;
    text-align: center;
}

#degree {
    grid-area: degree;
    background-color: var(--work-experience-background);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#degree ul {
    text-align: left;
    padding-left: 20px;
}

#continuous-learning {
    grid-area: courses;
    background-color: var(--work-experience-background);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}